:root {
  /* モノクローム色 */
  --color-black: #000000; /* 真黒 */
  --color-dark-gray: #282828; /* 濃いグレー */
  --color-medium-gray: #505050; /* 中間のグレー */
  --color-light-gray: #B0B0B0; /* 明るいグレー */
  --color-very-light-gray: #D9D9D9; /* 非常に明るいグレー */
  --color-almost-white: #F0F0F0; /* 淡いホワイト */

  /* テキスト色 */
  --color-text-primary: var(--color-almost-white); /* 主テキスト色 */
  --color-text-secondary: var(--color-light-gray); /* 副テキスト色 */

  /* 背景色 */
  --color-background-primary: var(--color-dark-gray); /* 主背景色 */
  --color-background-secondary: var(--color-medium-gray); /* 副背景色 */
  --color-background-tertiary: var(--color-black); /* 追加背景色 */
}
