@keyframes flip {
  0%, 50% {
    transform: scaleX(1);
  }

  51%, 100% {
    transform: scaleX(-1);
  }
}

.loadingComponent {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgb(68 65 65 / 50%);

  .loadingContent {
    .loadingEmoji {
      font-size: 60px;
      animation: flip 0.5s infinite steps(2, end);
    }

    .loadingWord {
      font-size: 24px;
      color: white;
    }

  }
}
