.headerComponent {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  color: #000;
  background: #fff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

@media (width <= 375px) {
  .headerComponent {
    justify-content: start;
  }
}
